[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
pytest = "*"
flake8 = "*"
twine = "*"
wheel = "*"
black = "*"

[packages]
glob2 = "*"

[scripts]
publish = "python setup.py upload"
fmt = "black ."

[pipenv]
allow_prereleases = true
