---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Hellbox",
  description = "Build system for font development",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
