@font-face {
  src: local("Dover Serif Display"),
       url("https://assets.hellbox.io/fonts/dover/DoverSerifDisplay-Regular-Web.woff2") format("woff2"),
       url("https://assets.hellbox.io/fonts/dover/DoverSerifDisplay-Regular-Web.woff") format("woff");       
  font-family: "Dover Serif Display";
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-size: 2rem;
  background-color: rgb(240, 240, 240);
  max-width: 70rem;
  margin: 0 auto;
  padding: 8rem 4rem;
  color: rgba(0, 0, 0, 0.8)
}

h1 {
  font-family: "Dover Serif Display", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 8rem;
  margin: 0 0 4rem;
}

pre {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
}