@font-face {
  src: url("./16th-Century-Gothic-regular.woff2") format("woff2");
  font-family: "16th Century Gothic";
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-size: 2rem;
  background-color: rgb(240, 240, 240);
  max-width: 70rem;
  margin: 0 auto;
  padding: 8rem 4rem;
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: "16th Century Gothic", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 8rem;
  margin: 0 0 4rem;
}

pre {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
}
